<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col one-half">
        <h2 class="footer-heading">{{ site.title | escape }}</h2>
        <ul class="contact-list">
          <li class="p-name">
            {{ site.author | escape }}
          </li>
          <li>
            <a class="u-email" href="mailto:{{ site.email}}">{{ site.email }}</a>
          </li>
        </ul>
      </div>

      <div class="footer-col one-half">
        <p>{{- site.description | escape -}}</p>
      </div>

      <div class="social-links">
        {% include social.html %}
      </div>

    </div>

  </div>

</footer>

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
