<footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Ramblings</h5>
        <p class="white-text">{{ site.description }}</p>
      </div>

      <div class="col l4 offest-12 s12">
        {% include social.html %}
      </div>
    </div>


  </div>
  <div class="footer-copyright">
    <div class="container">
    </div>
  </div>
</footer>

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('.sidenav').sidenav();
  });
</script>
