<nav class="teal">
  <div class="nav-wrapper container">
    <a class="brand-logo" href="{{ site.url }}">Ramblings</a>

    <a href="#" data-target="mobile-menu" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>

    <ul class="right hide-on-med-and-down">
      {% for nav_item in site.data.navigation %}
        <li>
          <a href="{{ nav_item.path | relative_url }}">
            {{ nav_item.name }}
            <i class="material-icons left">{{ nav_item.material-icon }}</i>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-menu"> 
  {% for nav_item in site.data.navigation %}
    <li>
      <a href="{{ nav_item.path | relative_url }}">
        {{ nav_item.name }}
        <i class="material-icons left">{{ nav_item.material-icon }}</i>
      </a>
    </li>
  {% endfor %}
</ul>
