<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ "/" | relative_url }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "portfolio" | relative_url }}">Portfolio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "blog" | relative_url }}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "search" | relative_url }}">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ "about" | relative_url }}">About Me</a>
      </li>
    </ul>
  </div>
</nav>
