<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <header class="post-header">
          <center>
            <h1 class="post-title">
              <p class="text-primary">{{ page.title | escape }}</p>
            </h1>
          </center>
        </header>
        <hr><br>
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
  </body>
</html>
