---
layout: default
---

{% assign featured_post = site.posts[0] %}
<div class="row">
  <div class="card grey darken-2">
    <div class="card-content white-text">
      <h6>
        <a href='{{ featured_post.category | downcase | relative_url }}'>
          {{ featured_post.category }}
        </a>
        | {{ featured_post.date | date: site.date_format }}
      </h6>

      <span class="card-title">
        {{ featured_post.title }}
      </span>
      <p style="width: 50%;">
        {{ featured_post.excerpt }}
      </p>
    </div>
    <div class="card-action">
      <a href="{{ featured_post.url | relative_url }}">Continue Reading</a>
    </div>
  </div>
</div>

<div class="row">
  {% assign post = site.posts[1] %}
  <div class="col l6 s12">
    {% include post-list.html %}
  </div>

  {% assign post = site.posts[2] %}
  <div class="col l6 s12">
    {% include post-list.html %}
  </div>
</div>

<div class="row">
  <div class="col l9 s12">
    <h3>Welcome</h5>
    <div class="divider"></div>
    {{ content }}
  </div>

  <div class="col l3 s12">
    <h5>Upcoming Articles</h5>
    <ul class="grey-text"> 
      {% for article in site.data.upcoming_articles %}
        <li>{{ article }}</li>
      {% endfor %}
    </ul>
  </div>
</div>
