---
layout: default
---

<h1>{{ page.title }}</h1>

<h6>{{ page.subtitle }}</h6>

<p>{{ content }}</p>

{% if page.title == "Blog" %}
  <ul class="collapsible">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">poll</i>Categories
      </div>

      <div class="collapsible-body">
        <div class="collection">
          {% for category in site.data.categories %}
          <a href="/{{ category }}" class="collection-item">{{ category | capitalize }}</a>
          {% endfor %}
        </div>
      </div>
    </li>
  </ul>
{% endif %}

<div class="divider"></div>

<div>
  {%- for post in site.posts %}
    {%- if page.category %}
      {%- if post.category == page.category %}
        {% include post-list.html %}
      {%- endif %}
    {%- else %}
      {% include post-list.html %}
    {%- endif %}
  {% endfor %}
</div>
