---
layout: default
---

<br/>
<div class="row">
  <div class="center">
    <i class="large material-icons">build</i>
    <h3>Projects</h3>
    <h6></h6>
  </div>

  {% for project in site.data.projects %}
    {% capture count %}{% cycle 'projects': 'one', 'two', 'three' %}{% endcapture %}

    {% if count == "one" %}
      <div class="row center">
    {% endif %}

    <div class="col s12 l4">
      {% include project-card.html %}
    </div>

    {% if count == "three" %}
      </div>
    {% endif %}
  {% endfor %}

  {% if count != "three" %}
    </div>
  {% endif %}
</div>

{% include divider %}

<div class="row">
  <div class="center">
    <i class="large material-icons">group</i>
    <h3>Organisations</h3>
    <h6></h6>
  </div>

  {% for organisation in site.data.organisations %}
    {% capture count %}{% cycle 'organisations': 'one', 'two', 'three' %}{% endcapture %}

    {% if count == "one" %}
      <div class="row center"> 
    {% endif %}

    <div class="col s12 l4"> 
      {% include organisation-card.html %}
    </div>

    {% if count == "three" %}
      </div>
    {% endif %}
  {% endfor %}

  {% if count != "three" %}
    </div>
  {% endif %}
</div>

{% include divider %}

<div class="row">
  <div class="center">
    <i class="large material-icons">emoji_events</i>
    <h3>Skills And Achievements</h3>
    <h6></h6>
  </div>

  {{ content }}
</div>
