---
layout: page
---

{{ content }}

<div>
  <h3 class="text-primary">Projects</h3>
  <ul>
    {% for project in site.data.projects %}
      <div class="post-listing">
        <br>
        <h5>
          <a href="{{ project.link }}">{{ project.name }}</a>
        </h5>
        <span class="post-meta float-right">Status: {{ project.status }}</span>
        <span class="post-meta float-left">Technologies: 
          {% for technology in project.technologies %}
            {{ technology }}
          {% endfor %}
        </span>
        <br>
        <p>{{ project.description | markdownify }}</p>
      </div>
    {% endfor %}
  </ul>
</div>
